<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
{% if error_message %}
    <script type="text/javascript">
    alert("{{ error_message }}");
    window.location.href="/usermng/register"
    </script>
{% elif success%}
<script type="text/javascript">
    alert("注册成功，请登录");
    window.location.href='/usermng/index'
</script>
{% endif %}


<form method="post">
    {% csrf_token %}
    <input type="text" placeholder="请输入用户名" name="username">
    <br>
    <input type="password" placeholder="请输入密码" name="password">
    <br>
    <input type="password" placeholder="请再次输入密码" name="password2">
    <br>
    <input type="submit" value="注册" name="register">
</form>


state:{{ state }}
</body>
</html>