<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/welcome.css">
</head>
<body>
{% if not user.is_authenticated %}
    <script type="text/javascript">
        alert("请登录！");
        window.location.href = "/usermng/index";
    </script>
{% endif %}
欢迎，这是本项目的第一个界面。
<br>

username:{{ username }}
<br>
password:{{ password }}
<br>
<div>
    <a href="{% url 'usermng:user_logout' %}" class="important">退出登陆</a>
</div>
<div>
    <a href="{% url 'usermng:chpwd' %}" class="important">修改密码</a>
</div>
<div>
    <a href="{% url 'usermng:delete' %}" class="important">注销账号</a>
</div>
</body>
</html>